<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Щоденник самопочуття {% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'diary/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'diary/css/forms.css' %}">

    
    {% block extra_css %}
    {% endblock %}

</head>
<body>
    <div class="app-container">
        {% include "diary/includes/navbar.html" %}

         <main class="main-content">
        
            <header class="top-header">
                <!--<img src="{%static 'diary/images/images_1.png'%}" alt="#">-->
                <h1>{% block page_title %}Головна {% endblock %}</h1>
                {% if user.is_authenticated %}
                    <div class="header-user">👤 {{ user.username }}</div>
                {% endif %}              
            </header>
        
            {% if messages %}
                {% for message in messages %}
                    <div class="message message-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        
    
           
            <div class="content-wrapper">
                {% block content %}

                
                {% endblock %}
            </div>
        

            {% include "diary/includes/footer.html" %}
        </main>

    </div>
       
      

    <script src="{% static 'diary/js/main.js' %}"></script>

    {% block  extra_js%}{% endblock  %}
</body>
</html>