<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Щоденник самопочуття {% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'diary/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'diary/css/forms.css' %}">

    
    {% block extra_css %}
    {% endblock %}

</head>
<body>
    <div class="app-container">
        {% include "diary/includes/navbar.html" %}

         <main class="main-content">
        
            <header class="top-header">
                <!--<img src="{%static 'diary/images/images_1.png'%}" alt="#">-->
                <h1>{% block page_title %}Головна {% endblock %}</h1>
                
                {% if user.is_authenticated %}
                    
                    <div class="nav-user-item">
                        <span class="nav-user">{{ request.user.userprofile.username }}</span>
                    </div>
                    <div>
                        <form method="post" action="{% url 'logout' %}" style="width: 100%;">
                            {% csrf_token %}
                            <button type="submit" class="nav-logout-btn">🚪 Вийти</button>
                        </form>
                    </div>
                {% else %}
                    <div class="nav-divider"></div>
                    <div><a href="{% url "login" %}" class="nav-login-btn">🔑 Увійти</a></div>
                {% endif %}   

            </header>
        
            {% if messages %}
                {% for message in messages %}
                    <div class="message message-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        
    
           
            <div class="content-wrapper">
                {% block content %}

                
                {% endblock %}
            </div>
        

            {% include "diary/includes/footer.html" %}
        </main>

    </div>
       
      

    <script src="{% static 'diary/js/main.js' %}"></script>


    {% block  extra_js%}{% endblock  %}
</body>
</html>