{% extends "diary/base.html" %}

   {% block title %}Деталі запису {% endblock title%} 

   
   {% block extra_css %}
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 40px auto;
            padding: 20px;
            background: rgb(99, 165, 104);
        }
        .container{
            background: white;
            border-radius: 10px;
            padding: auto;
        }
        h1 {
            color: #2c3e50;
            border-bottom: 2px solid #3498db;
            padding: 10px;
        }
        .record-info {
            background: #e8f4f8;
            padding: 15px;
            border-radius: 8px;
            margin: 20px 0;
        }
        .medicines-list {
            background: #d4edda;
            padding: 15px;
            border-radius: 8px;
            margin: 20px 0;
        }
        .medicine-item {
            padding: 5px 0;
            border-bottom: 1px solid #c3e6cb;
        }
        
        hr {
            margin: 20px 0;
            border-top: 1px solid #ddd;
        }


    </style>
   
   {% endblock  %}
   


{% block content %}
     <div class="container">
        <h1>Деталі запису № {{record.id}}</h1>

        <div class="record-info">
            <p>ID: {{ record.id}}</p>
            <p>Самопочуття: {{ record.well_being|upper}}</p>
            <p>Скарги: {{ record.complaints|truncatewords:5}}</p>
            <p>Дата: {{ record.date|date:"d.m.Y"}}</p>
            <p>Температура: {{ record.temperature}} °C</p>
            <p>Тиск: {{ record.pressure}}</p>
            <p>Коментар: {{ record.comment }}</p>
 
        </div>
        
        <div class="medicines-list">
            {% if related_medicines %}
                {% for medicine in related_medicines %}
                    <ul>
                        <li> {{medicine.name}}  {{medicine.dosage}} - {{medicine.purpose}}</li>
                    </ul>
                {% endfor %}
            {% else %}
                    <p> Ліки не приймав </p>

            {% endif %}


            <hr>


            <a href="{% url 'records' %}">Повернутися до списку записів</a>

            <hr>

            <a href="{% url 'home' %}">На головну</a>
        </div>

    </div>

    

{% endblock %}

   
