{% extends "diary/base.html" %}

{% block title %} Всі  записи про самопочуття {% endblock  %}  
    

     
{% block content %}
    <h1> <strong>Всі  записи про самопочуття</strong><br></h1> 
    <p> <strong>Користувач:</strong> {{user.username}}</p>
    <p><strong>Всього записів:</strong> {{ records|length }}</p>

    <hr>

    {% for record in records  %}
        {% include "diary/includes/record_card.html" with record=record %}    
    {% empty %}
        <p>Записів поки що немає</p>
    {% endfor %}
    

    <p> <a href="{% url "home" %}">На головну</a></p>

{% endblock  %}

   
