<nav>
    <a href="{% url "home" %}" class="nav-link">Головна</a>
    <a href="{% url "records" %}" class="nav-link">Всі записи</a>
    <a href="{% url "medicines" %}" class="nav-link">Ліки</a>
    <a href="{% url "profile" %}" class="nav-link">Профіль користувача</a>
    <a href="{% url "users_list" %}" class="nav-link">Список користувачів</a>
    <a href="{% url "about" %}" class="nav-link">Про нас</a>
    <a href="{% url "ask_question" %}" class="nav-link">Задати питання лікарю</a>
    <a href="{% url "administrator" %}" class="nav-link">Адмін</a>
</nav>
