{% load static %}



<div class="record-card">
            <p>ID: {{ record.id}}</p>
            <p>Самопочуття: {{ record.well_being|upper}}</p>
            <p>Скарги: {{ record.complaints|truncatewords:5}}</p>
            <p>Дата: {{ record.date|date:"d.m.Y H:i"}}</p>
            <p>Температура: {{ record.temperature|default:"—" }} °C</p>
            <p>Тиск: {{ record.pressure_systolic|default:"—" }}/{{ record.pressure_diastolic|default:"—" }} мм рт.ст.</p>
            <p>Пульс: {{ record.heart_rate|default:"—" }} уд/хв</p>
            <p>Сатурація: {{ record.spo2|default:"—" }}%</p>
            <p>Коментар: {{ record.comment }}</p>

            <hr>
             <div class="record-actions">
                {% if request.user.is_authenticated and request.user.userprofile == record.user %}
                    <a href="{% url 'edit_record' record.id %}" class="btn btn-warning">✏️ Редагувати</a>
                    <a href="{% url 'delete_record' record.id %}" class="btn btn-danger" onclick="return confirm('Ви впевнені?')">🗑️ Видалити</a>
                {% endif %}
                <a href="{% url 'record_detail' record.id %}" class="btn btn-outline">👁️ Детальніше</a>
            </div>
            
            
</div>